@charset "utf-8";
/* CSS Document */
/*全局样式*/
body{ padding:0px;  margin:0px; font-size:12px; }
ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,p { padding:0px; margin:0px;}
ul,ol{list-style:none;}
img{border:0px;}
.clearfloat{clear:both; height:0px; font-size:1px; line-height:0px;}
abbr,article,aside,audio,canvas,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,main,section,time,video{display:block;}
/*头部分*/
.header_div{
	width: 100%;
	height: 35px;
	background: url(../images/header_bg.jpg) repeat-x;
}
.myheader{
	width: 1200px;
	height: 35px;
/*	background: #0BAB1D;*/
	margin: 0px auto;

}
.myheader div{
	width: 136px;
	height: 12px;
	float: left;
	color: #f5f5f5;
	margin-left: 5px;
	margin-top: 16px;
	font-size: 12px;
/*	background: #091FA4;*/
}

.myheader .header_ul{
	width: 164px;
	height: 12px;
	margin-top: 17px;
	margin-right: 8px;
/*	background: #920F11;*/
	float: right;
}
.myheader .header_ul li{
	float: left;
	margin-right: 3px;
}

.header_ul a{
	color: #f5f5f5;
	text-decoration: none;
/*	font-size: 12px;*/
}
 .daosanjiao{
	width: 6px;
	height: 5px;
/*	background: #0717CB;*/
}
/*导航栏部分*/
.nav_div{
	width: 100%;
	height: 100px;
}
.nav_div .mynav{
	width: 1200px;
	height: 100px;
	margin: 0px auto;
/*	background: #4c4c4c;*/
}
.nav_div .logo{
	width: 210px;
	height: 100px;
	float: left;
}
.mynav .mynav_ul{
	width: 529px;
	height: 30px;
	float: right;
	margin-top: 54px;
	margin-right: 54px;
/*	background: #5EAD39;*/
}
.mynav .mynav_ul li{
	margin-right: 20px;
	width: 83px;
	height: 30px;
	float: left;	
}
.mynav .mynav_ul li>a{
	width: 83px;
	height: 30px;
	display: block;
	color:#000000;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
}
.mynav_ul .frist{
	margin-right: 35px;
}
.mynav .current{	background:url(../images/nav_current.jpg);
	font-weight:bold;
}
.mynav a:hover{	background:url(../images/nav_current.jpg);
	font-weight:bold;
}
/*中间背景部分*/
.mid_nav{
	width: 100%;
	height: 350px;
/*	background: #AF4547;*/
}
.mid_nav .mymain{
	width: 1200px;
	height: 350px;
/*	background: #5EC135;*/
	margin: 0px auto;
}
/*中间内容部分*/
.mid_word_div{
	width: 100%;
	height: 910px;
	margin-top: 20px;
	margin-bottom: 18px;
/*	background: #17EF30;*/
}
.mid_word_div .mid_word{
	width: 1200px;
	height: 910px;
	margin: 0px auto;
/*	background: #2F1EC4;*/
}
/*内容左上部分*/
.mid_word_div .mid_word_left{
	width: 203px;
	height: 558px;
	float: left;
/*	background: #4c4c4c;*/
}
.mid_word_div .mid_word_left p{
	width: 203px;
	height: 60px;
	background: url(../images/left_up_blue_bg.jpg) repeat-x;
	color: #ffffff;
	font-size: 18px;
	display: block;
	line-height: 60px;
/*	padding-bottom: 22px;*/
/*	padding-top: 22px;*/
/*	padding-right: 25px;*/
	text-align: center;
}

.mid_word  .mid_word_left_ul1{
/*	clear: both;*/
	width: 203px;
	height: 201px;
/*	background: #1FD739;*/
/*	float: left;*/
}
.mid_word  .mid_word_left_ul1 li{
	width: 203px;
	height: 51px;
	float: left;
	margin-top: -1px;
	background: url(../images/mid_left_bg-02.jpg)
}
.mid_word  .mid_word_left_ul1 li>a{
	text-decoration: none;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 6px;
	color: #1b1b1b;
	float: left;
	
}
.mid_word  .mid_word_left_ul1 li>img{
	margin-top: 20px;
	margin-left: 27px;
	float: left;
}
.mid_word  .mid_word_left_ul1 .murrent{
	width: 203px;
	height: 50px;
	color: #fff;
	background: url(../images/mid_left_yellow.jpg);
}
.mid_word_left_ul1 li:hover{
	width: 203px;
	height: 50px;
	color: #fff;
	background: url(../images/mid_left_yellow.jpg);
}

/*内容右边部分*/
.mid_word_div .mid_word_right{
	width: 973px;
	height: 910px;
	float: right;
	background: #f3f3f3;
	border: 1px #c2c2c2 solid;
}
.mid_word_div .mid_word_right_header{
	width: 922px;
	height: 39px;
	margin-left: 22px;
	margin-top: 25px;
	border-bottom: 1px #c2c2c2 solid;
}
.mid_word_div .mid_word_right_header .img_left{
	width: 25px;
	height: 26px;
	float: left;
	margin-left: 6px;
	margin-right: 15px;
}

.mid_word_div .mid_word_right_header p{
	width: 81px;
	height: 20px;
	float: left;
	margin-top: 6px;
	font-size: 20px;
	color: #1b1b1b;
}
.mid_word_div .mid_word_right_header ul{
	width: 114px;
	height: 12px;
	float: right;
	margin-right: 7px;
	margin-top: 11px;
}
.mid_word_div .mid_word_right_header ul>li{
	float: left;
	margin-right: 10px;
	color: #242424;
	font-size: 12px;
}
.mid_word_div .mid_word_right_header ul>li>a{
	text-decoration: none;
	color: #242424;
}
.mid_word_div .mid_word_right_header .img_right{
	float: right;
	margin-top: 11px;
	margin-right: 13px;
}

/*内容左下部分*/
.mid_word_div .mid_word_left2{
	border: 1px #c2c2c2 solid;
	width: 203px;
	height: 261px;
	margin-top: 36px;
	background: #f3f3f3;
	float: left;
}
.mid_word_div .mid_word_left2_div{
	width: 203px;
	height: 49px;
	border-bottom: 1px #c2c2c2 solid;

}
.mid_word_div .house{
	width: 14px;
	height: 16px;
	float: left;
	margin-top: 18px;
	margin-left: 26px;
	margin-right: 9px;
}
.mid_word_div .lxwm{
	width: 72px;
	height: 18px;
	color: #3c3b3a;
	float: left;
	margin-top: 18px;
	font-size: 18px;
}
/*内容左下部分联系我们*/
.mid_word_div .lxwm2{
	clear: both;
	margin-top: 12px;
}
.mid_word_div .lxwm2 li{
	color: #6b6a6a;
	margin-left: 15px;
	margin-top: 14px;
	font-size: 14px;
	line-height: 20px;
}
.mid_word_div .lxwm2 li>a{
	text-decoration: none;
	color: #f7ac63;
}
.mid_word_right .mid_word_right_ul{
	width: 922px;
	height: 752px;
/*	background: #860204;*/
	margin-left: 22px;
}
.mid_word_right_ul li{
	width: 922px;
	height: 50px;
	border-bottom:1px dashed #b5b5b5;
}
.mid_word_right_ul li>img{
	width: 7px;
	height: 8px;
	float: left;
	margin-left: 9px;
	margin-top: 28px;
	margin-right: 11px;
}
.mid_word_right_ul li>a{
	font-size: 16px;
	text-decoration: none;
	color: #000000;
	float: left;
	margin-top: 22px;
/*	background: #26840F;*/
}
.mid_word_right_ul li>span{
	float: right;
	font-size: 16px;
	margin-right: 16px;
	margin-top: 24px;
}
.mid_word_right .current_demo {
	color: #0076bc;
}
.mid_word_right .current_demo>a{
	color: #0076bc;
}
.mid_word_right_ul li:hover{
	color: #0076bc;
}
.mid_word_right_ul a:hover{
	color: #0076bc;
}

/*右边尾部*/
.right_end_div{
	width: 922px;
	height: 26px;
/*	background: #0539B1;*/
	margin-top: 36px;
	margin-left: 22px;
}
.right_end_div p{
	width: 206px;
	height: 14px;
	margin-top: 6px;
	margin-left: 143px;
	float: left;
/*	background: #A84445;*/
	font-size: 14px;
}
.right_end_div a>img{
	float: right;
	margin-top: 1px;
	margin-right: 13px;
}
.right_end_div div>input{
	width: 60px;
	height: 24px;
	float: right;
	margin-top: 0px;
	margin-right: 10px;
	text-align: center;
}
.right_end_div .right_end_div_p1{
	float: right;
	font-size: 14px;
	margin-right: 14px;
	margin-top: 6px;
}
.right_end_div .right_end_div_p2{
	float: right;
	font-size: 14px;
	margin-right: 5px;
	margin-top: 6px;
}
.right_end_div span{
	width: 290px;
	height: 26px;
	float: right;
	margin-top: 1px;
	margin-right: 22px;
/*	background: #2C1BBC;*/
}
.footer1_div .a_4{
	width: 60px;
	height: 26px;
	background: #f89725;
	float: right;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	line-height: 25px;
	color: #000000;
	border-bottom: 1px #b5b5b5 solid;
}
.footer1_div .a_3{
	width: 60px;
	height: 26px;
	background: #f89725;
	float: right;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	margin-right: 10px;
	line-height: 25px;
	color: #000000;
	border-bottom: 1px #b5b5b5 solid;
}
.footer1_div .a_2{
	width: 70px;
	height: 26px;
	background: #e2e2e2;
	float: right;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	margin-right: 10px;
	line-height: 25px;
	color: #000000;
	border-bottom: 1px #b5b5b5 solid;
}
.footer1_div .a_1{
	width: 60px;
	height: 26px;
	background: #e2e2e2;
	float: right;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	margin-right: 10px;
	line-height: 25px;
	color: #000000;
	border-bottom: 1px #b5b5b5 solid;
}

.end1_div{
	width: 100%;
	height: 160px;
	background: url(../images/foote1_bg.jpg) repeat-x;
}
.end1_div .myfoot_1{
	width: 1200px;
	height: 160px;
	margin: 0px auto;
}

/*尾部左边div*/
.myfoot_1 .foot1_left{
	width: 611px;
	height: 160px;
	float: left;
/*	background: #C11518;*/
}
/*尾部右边div*/
.myfoot_1 .foot1_right{
	width:589px;
	height: 160px;
	float: right;
}
/*尾部左边文字超链接*/
.myfoot_1 .foot1_left_ul{
	width: 480px;
	height: 14px;
	margin-left: 5px;
	margin-top: 37px;
/*	background: #0D60AC;*/
}
.myfoot_1 .foot1_left_ul li{
	float: left;
	width: 58px;
	height: 14px;
	margin-right: 22px;
}
.myfoot_1 .foot1_left_ul li>a{
	text-decoration: none;
	color: #ffffff;
}
.foot1_left_ul_2 li{
	float: left;
}
 .guanzhuwomen{
	width: 58px;
	height: 14px;
	color: #ffffff;;
	margin-right: 27px;
	margin-top: 17px;
}
.foot1_left_ul_2 img{
	margin-right: 27px;
}
/* 尾部右边部分*/
 .foot1_right_two_code{
	width: 120px;
	height: 120px;
	 float: left;
	margin-top: 24px;
}
.myfoot_1 .foot1_left_ul_2{
	width: 295px;
	height: 43px;
	margin-left: 5px;
	margin-top: 28px;
/*	background: #637F22;*/
}
.foot1_right p{
	display: block;
	color:#ffffff;
	width: 220px;
	height: 18px;
	font-size: 14px;
	float: right;
	margin-top: 48px;
	margin-right: 101px;
}
.foot1_right  .foot1_right_ul{
	display: block;
	width: 309px;
	height: 32px;
	margin-top: 18px;
	margin-right: 12px;
	float: right;
}
.foot1_right  .foot1_right_ul img{
	float: left;
	margin-top: 10px;
	margin-right: 27px;
}
.foot1_right  .foot1_right_ul .phone{
	width: 254px;
	height: 32px;
	color:#ffffff;
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 2px;
	float: right;
}
/*网页尾部2*/
.end2_div{
	width: 100%;
	height: 140px;
	background: url(../images/foot2_bg.jpg) repeat-x;
	
}
.end2_div .myfoot_2{
	width: 1200px;
	height: 140px;
	margin: 0px auto;
/*	background: #8F1A1C;*/
	position: relative;
}
/*尾部2 左边*/
.myfoot_2 .foot2_left{
	width: 260px;
	height: 18px;
	float: left;
	position: absolute;
	margin-top: 16px;
/*	background: #1C6211;*/
}
.myfoot_2 .foot2_left .foot2_left_left{
	width: 60px;
	height: 18px;
	float: left;
	margin-left: 8px;
	text-align: left;
	color: #4e4e4e;
/*	background: #183ABB;*/
}
.myfoot_2 .foot2_left .foot2_left_right{
	width: 192px;
	height: 18px;
	float: right;
	background: url(../images/foot2_right_bg.jpg) repeat-x;
}
.myfoot_2 .foot2_left .foot2_left_right li{
	float: left;
	margin-right: 22px;
}
.myfoot_2 .foot2_left .foot2_left_right li>a{
	text-decoration: none;
	font-size: 12px;
	color: #4e4e4e;
	
}
.myfoot_2 .foot2_left .foot2_left_right .foot2_left_right_li{
	margin-left: 18px;
}
/*网页尾部2 右边*/
.end2_div .foot2_right{
	width: 690px;
	height: 34px;
	float: right;
	margin-top: 54px;
	margin-right: 246px;
/*	background: #B1181B;*/
}
.end2_div .foot2_right ul>li{
	float: left;
}
.end2_div .foot2_right ul>li>a{
	margin-right: 16px;
}
/*版权信息*/
 .foot2_right .bqxx{
	display: block;
	width: 361px;
	height: 26px;
	float: left;
	color: #a8a8a8;
	text-align: center;
	margin-top: 12px;
	margin-left: 204px;
	 
/*	background: #0A19BF;*/
}

